[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
celery = "==4.4.2"
flower = "==0.9.3"
braintree = "==3.59.0"
django-rosetta = "*"
django-parler = "*"
django-localflavor = "*"
redis = "*"
environs = {extras = ["django"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
